#root {
    background-color: var(--divColor);

    padding: 5%;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;

    &:hover {
        background-color: var(--greenColor);

        p {
            color: var(--white);
        }
    }

    #icon {
        width: 15%;

        svg {
            font-size: 70px;
        }
    }

    #contents {
        width: 85%;

        p {
            margin-top: 18px;
        }
    }
}
