.heroHeader {
    height: 100vh;

    color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    position: relative;

    @media only screen and (max-width: 990px) {
        flex-direction: column;
        height: auto;

        padding: 20% 0 10% 0;
    }

    &:after {
        content: "";
        width: 70%;
        min-height: 100%;

        background-color: var(--divColor);

        position: absolute;
        top: -24%;
        right: -25%;
        z-index: 0;

        border-radius: 100%;

        @media only screen and (max-width: 1200px) {
            width: 90%;
        }

        @media only screen and (max-width: 990px) {
            width: 100%;
            min-height: 70%;
        }
    }

    #heroHeaderContent {
        display: flex;
        flex-direction: column;
        gap: 30px;
        z-index: 1;

        @media only screen and (max-width: 1200px) {
            width: 50%;
        }

        @media only screen and (max-width: 990px) {
            width: 100%;
        }

        #heroText {
            h1 {
                margin: 20px 0;
            }

            #animate {
                color: var(--white);
                padding-bottom: 20px;

                font-size: 20px;
            }

            #titleContents {
                font-size: 18px;
            }
        }
    }

    #heroImage {
        width: 100%;
        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width: 1440px) {
            overflow: inherit;
        }

        @media only screen and (max-width: 1200px) {
            width: 50%;
        }

        @media only screen and (max-width: 990px) {
            width: 80%;
        }

        img {
            width: 100%;
            height: 100%;
            border-radius: 100%;

            z-index: 2;

            @media only screen and (max-width: 1200px) {
                transform: translateX(15%);
            }

            @media only screen and (max-width: 990px) {
                transform: translateX(0);
            }
        }
    }

    #changeTheme {
        cursor: pointer;

        position: fixed;
        top: 50px;
        right: 50px;
        z-index: 2;

        width: 50px;
        height: 50px;

        font-size: 20px;

        border-radius: 50%;

        color: var(--webColor);
        background-color: var(--white);

        display: flex;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width: 1200px) {
            right: 10px;
            top: 60px;
        }
    }
}
