.educationSkill {
    color: var(--white);
    padding: 8% 0;

    border-bottom: 1px solid var(--textColor);

    #container {
        display: flex;
        gap: 30px;

        @media only screen and (max-width: 1200px) {
            gap: 25px;
        }

        @media only screen and (max-width: 990px) {
            flex-direction: column;
        }

        #education {
            width: 40%;

            padding-right: 8%;

            display: grid;
            grid-template: 1fr 1fr 1fr / 1fr;
            gap: 3px;

            @media only screen and (max-width: 1200px) {
                padding-right: 6%;
            }

            @media only screen and (max-width: 990px) {
                width: 100%;
            }

            @media only screen and (max-width: 990px) {
                padding-right: 0;
            }
        }

        #skill {
            width: 60%;

            display: flex;
            justify-content: space-around;
            flex-direction: column;

            @media only screen and (max-width: 990px) {
                width: 100%;
            }

            @media only screen and (max-width: 990px) {
                gap: 25px;
                margin-top: 30px;
            }

            #skillItems {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
        }
    }
}
