#header {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 10;

    overflow: auto;

    width: 250px;
    height: 100vh;

    float: left;

    @media only screen and (max-width: 1440px) {
        height: 100vh;
    }

    @media only screen and (max-width: 1200px) {
        transform: translateX(-100%);
    }
}

#main {
    width: calc(100% - 250px);
    height: 100%;

    float: right;
    overflow: hidden;

    background-color: var(--webColor);

    padding: 0% 8%;

    @media only screen and (max-width: 1440px) {
        padding: 0 2%;
    }

    @media only screen and (max-width: 1200px) {
        width: 100%;
        padding: 0 10%;
    }

    @media only screen and (max-width: 768px) {
        padding: 5%;
    }
}
